@import 'normalize';

/* fonts */

@font-face {
	font-family: 'Sofia';
	src: url('../fonts/SofiaRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia';
	src: url('../fonts/SofiaBold.woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Sofia';
	src: url('../fonts/SofiaRegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Sofia';
	src: url('../fonts/SofiaBoldItalic.woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Bebas';
	src: url('../fonts/BebasNeueBold.woff');
	font-weight: 600;
}

$display-font: 'Bebas',
Helvetica,
sans-serif;
$body-font: 'Sofia',
Helvetica,
sans-serif;

/* colors */

$black: #000000;
$dark: #181818;
$light: #F2F2F2;
$white: #FFFFFF;

/*transitions*/

$transition-in: all .4s ease-in;
$transition-out: all 2s ease-out;

/*layout*/

$paragraph-width: 50rem;

$size0: .8rem;
$size1: 1rem;
$size2: 1.25rem;
$size3: 1.563em;
$size4: 1.953em;
$size5: 2.441em;
$size6: 3.052em;

/* breakpoints */

$break-small: 600px;
$break-medium: 1024px;
$break-large: 1280px;

/* animations */

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
	font: 16px $body-font;
	text-align: center;
}

.button {
	text-decoration: none;
	color: white;
	background-color: black;
	padding: .25em .75em .25em;
	border-radius: 1.6em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .05em;
	span {
		color: $light;
	}
}

.buttonAnimated {
	overflow: hidden;
	white-space: nowrap;
	span {
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		white-space: pre;
		transition: $transition-in;
		max-width: 0;
		line-height: 1.5em;
	}
	&:hover span {
		max-width: 500px;
		transition: max-width 1s ease-in;
	}
}

a {
	color: black;
	cursor: pointer;
}

p {
	max-width: $paragraph-width;
	padding: 0 1rem;
	text-align: center;
	margin: 2em auto;
	@media screen and (min-width: $break-small) {
		font-size: $size2;
	}
	+ p {
		padding-top: 1em;
	}
}


h2 {
	max-width: $paragraph-width;
	font-size: $size4;
	margin: 2em auto 0;
	text-align: center;
	padding: 0 1rem;
}

blockquote {
	font-size: $size3;
	position: relative;
	max-width: 25em;
	margin: 2em auto;
	background-color: $light;
	padding: 1em;
	@media screen and (min-width: 675px) {
		border-radius: 1rem;
	}
	line-height: 1.5em;
	font-style: italic;
	text-align: left;
	&::before {
		content: '“';
		position: absolute;
		top: -20px;
		left: -50px;
		font-size: 320%;
		line-height: .8em;
		font-weight: 800;
	}
	br {
		line-height: 2em;
	}
}

img,
svg {
	max-width: 100%;
}

ul {
	padding: 0;
	list-style-type: none;
}

main {
	padding: 0 1em;
	> header {
		min-height: calc(100vh - 5em);
		display: flex;
		flex-direction: column;
		justify-content: center;
		> h1 {
			text-align: center;
			font-weight: 400;
			font-size: 2rem;
			span {
				font-family: $display-font;
				display: block;
				font-size: 4em;
			}
		}
	}
	section {
		padding: 2em 0;
		&:first-of-type {
			padding-top: 0;
		}
		> header {
			h1 {
				padding: 1em .25rem;
				font-size: inherit;
				a {
					@extend .button;
					@extend .buttonAnimated;
				}
			}
			&::after {
				content: '';
				height: 5em;
				width: 1px;
				background-color: $black;
				display: block;
				margin: 0 auto;
			}
		}
	}
	div.project,
	.subpage header {
		margin: 3em auto;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media screen and (min-width: $break-small) {
			flex-wrap: wrap;
			flex-direction: row;
		}
		.greybox {
			content: '';
			position: absolute;
			z-index: -2;
			height: 100%;
			background-color: $light;
			border-radius: .5em;
			/*center */
			left: 50%;
			transform: translateX(-50%);


			width: calc(62.5% + 5em);
			/* video height plus text */
			@media screen and (min-width: $break-small) {
				width: 50%;

			}
		}
		h1 {
			margin: -2rem 0 -1rem;
			font-family: $display-font;
			font-size: 4rem;

			@media screen and (min-width: $break-small) {
				width: calc(50% - 7rem);
				margin: 0 1rem;
				text-align: right;
				font-size: 10vw;
				line-height: .8;
				align-self: center;

			}

			br {
				display: none;

				@media screen and (min-width: $break-small) {
					display: inherit;
				}
			}

		}

		.seelive {

			margin: 1rem 0;
			width: 100%;
			@media screen and (min-width: $break-small) {
				width: calc(50% + 5rem);
				text-align: left;
			}
			position: relative;


			video {
				width: 100%;
				box-shadow: 0 0 .5em rgba(0, 0, 0, .1);
				@media screen and (min-width: $break-small) {
					width: 90%;
				}
			}
			&::after {
				content: 'See live';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(0, 0, 0, .8);
				color: white;
				font-family: $display-font;
				font-size: 2em;
				opacity: 0;
				transition: $transition-out;
				@media screen and (min-width: $break-small) {
					font-size: 5vw;
					width: 90%;
				}
			}
			&:hover::after {
				opacity: 1;
				transition: $transition-in;
			}
		}
		.action {
			margin: 0 auto 1rem;
			a {
				@extend .button;

				@media screen and (min-width: $break-small) {
					width: 100%;
				}
			}
		}
	}
}

#about {
	a svg path {
		opacity: 0 !important;
		transition: $transition-out;
		animation: none;
	}
	a svg:hover path {
		opacity: 1 !important;
		transition: $transition-in;
	}
}

.profile {
	position: relative;

	margin-top: -.7em;
	img:last-of-type {
		position: absolute;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		opacity: .2 !important;
		transition: $transition-out;
		animation: none;
		&:hover {
			opacity: .9 !important;
			transition: $transition-in;
		}
	}
}


#about {
	.professions {
		font-family: $display-font;
		line-height: 1.5em;
		font-size: 1.5rem;
		li {
			animation: none;
		}
		li:nth-of-type(2) {
			opacity: .8;
		}
		li:nth-of-type(3) {
			opacity: .6;
		}
		li:nth-of-type(4) {
			opacity: .4;
		}
		li:nth-of-type(5) {
			opacity: .2;
		}
	}
}

@media screen and (min-width: $break-medium) {


	#morework {
		> div {
			display: flex;
			align-items: flex-start;
		}
		.project:not(.clicked) {
			flex-basis: 0;
			flex-grow: 200;
			flex-shrink: 200;
			margin: 3em 1em;
			display: flex;
			flex-direction: column !important;
			justify-content: center;
			width: calc(100% /3 - 2em);
			.greybox {
				width: calc(62.5% + 5em);
			}
			h1 {
				width: inherit;
				margin: -2rem 0 -1rem;
				font-size: 4rem;
				text-align: center;
				white-space: nowrap;
				width: 100%
			}
			.seelive {
				video {
					width: 100%;
				}
				&::after {
					font-size: 2em;
					width: 100%;
				}
			}
			a:first-of-type {
				width: 100%;
			}
		}
		.clicked {
			flex-direction: column !important;
			h1 {
				text-align: center !important;
				width: 100% !important;
			}
			.seelive {
				text-align: center !important;
				max-width: calc(50% + 4rem);
			}
		}
	}


	.morework header {
		position: absolute;
		flex-direction: column !important;
		h1 {
			text-align: center !important;
			width: 100% !important;
		}
		.seelive {
			text-align: center !important;
			&::after {
				left: 5% !important;
			}
		}
	}
}

#contact {
	p {
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		a:last-of-type {
			font-family: $display-font;
			display: block;
			margin-top: .5em;
		}
		.facebook {
			font-weight: 600;
			color: #4468B0;
		}
	}
}

.clicked {
	height: 100vh !important;
	transition: all 1s;
	z-index: 20;
	> * {
		transition: all 1s;
	}
	.action {
		display: none;
	}
}

#loadbox {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
}

.clicked,
.subpage header {
	width: 100% !important;
	margin: 0;
	margin-bottom: 2em;
	.greybox {
		width: 100vw !important;
		height: 100vh !important;
		border-radius: 0 !important;
	}
	h1 {}

	.seelive {
		margin: 0;
		align-self: center;
	}

}

#loadbox {
	background-color: $white;
}

.subpage {

	p {
		line-height: 1.8em;
		text-align: left;
		margin: 0 auto;
	}
	picture,
	img {
		margin: 1em auto;
		width: 100%;
		max-width: $paragraph-width;
	}
	.flex {
		margin: 1em auto;
		display: flex;
		max-width: 100%;
		@media screen and (max-width: $break-medium) {
		flex-wrap: wrap;
		}
		img {
			object-fit: contain;
			flex-shrink: 1;
		}
	}
	header {
		min-height: 100vh;
		margin: 0 0 3em !important;

		.back {
			position: absolute;
			top: 2em;
			left: 2em;
			background: none;
			color: $dark;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: .05em;
			@media screen and (min-width: $break-large) {
				position: fixed;
			}
			span {
				color: $dark;
			}
			&::before {
				content: '';
				height: 1px;
				width: 1em;
				background-color: #000000;
				display: inline-block;
				vertical-align: middle;
				margin-right: .5em;
				margin-top: -.15em;
				transition: width .3s ease-out;
			}
			&:hover::before {

				width: 2em;
			}
		}

	}
	.skills {
		text-align: center;
		li {
			display: inline-block;
			@extend .button;
			margin: .2em;
		}
	}
}

.closed {
	display: inline-block;
	z-index: 15;
	padding: 0;
	> * {
		display: none !important;
	}
	> header {
		display: block !important;
		&::after {
			display: none;
		}
	}
}

.reveal {
	opacity: 0 !important;
	animation-play-state: paused;
}

.animated {
	animation-name: fadeInUp;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	animation-play-state: running;
}


@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 2.5rem, 0);
		transform: translate3d(0, 2.5rem, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
