/* typography */

@font-face {
	font-family: 'Plain';
	src: url('../fonts/Plain-Ultralight.otf');
	font-weight: 200;
}

@font-face {
	font-family: 'Plain';
	src: url('../fonts/Plain-Light.otf');
	font-weight: 300;
}

@font-face {
	font-family: 'Plain';
	src: url('../fonts/Plain-Regular.otf');
	font-weight: 400;
}

@font-face {
	font-family: 'Plain';
	src: url('../fonts/Plain-Medium.otf');
	font-weight: 500;
}

@font-face {
	font-family: 'Plain';
	src: url('../fonts/Plain-Bold.otf');
	font-weight: 600;
}

body {
	font-size: 16px;
	line-height: 1.5em;
	font-family: 'Plain', sans-serif;
}

h1 {
	line-height: 1.2em;
	padding: 0 .5rem;
	margin-bottom: 0;
}

p {
	line-height: 1.5em;
	padding: .5rem;
	max-width: 40em;
	margin-top: 0;
}

a {
	color: black;
	text-decoration: none;
}

ul {
	padding: .5em;
	list-style-type: none;
	margin-top: 0;
}
li {
	margin-bottom: 1em;
}

/*layout */

body>header {
	padding: .5em;
}

body>header>div {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.logo {
	margin: .5em;
	display: block;
}

.cover {
	object-fit: cover;
	background-image: url('../img/products.jpg');
	-webkit-background-clip: text;
	color: transparent;
	padding: 0;
	margin: .5rem;
	text-align: right;
}

.socials {
	display: flex;
	margin-left: auto;
}

.socials img {
	width: 1.2em;
	padding: .5em;
}

.infobox {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
	flex: 1;
}

.infobox {
	margin: 0;
	text-align: right;
}

.infobox span {
	display: block;
	text-transform: uppercase;
	font-weight: 600;
}

nav {
	display: flex;
	flex-wrap: wrap;
}

nav a {
	/* horizonal layout*/
	display: flex;
	width: 100%;
	position: relative;
}

nav a.clicked {
	opacity: 1;
	z-index: 20;
}


/*overlay colors*/

nav a:nth-of-type(1) div,
#ourstore header h1 {
	background-color: #C6D3D9;
}

nav a:nth-of-type(2) div,
#products header h1 {
	background-color: #CBB9BC;
}

nav a:nth-of-type(3) div,
#ourjourney header h1 {
	background-color: #FFE8AF;
}

nav a:nth-of-type(4) div,
#visitus header h1 {
	background-color: #F7D1CC;
}

nav a img,
article header img {
	margin: .5em;
	/*stretch the img*/
	flex-grow: 1;
	object-fit: cover;
}

nav a div,
article header h1 {
	margin: .5em;
	background-color: whitesmoke;
	/*positioning the title*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: .05em;
	/* relative position for the span*/
	position: relative;
	font-size: 1rem;
}

nav a div span,
article header h1 span {
	position: absolute;
	bottom: 1em;
	white-space: nowrap;
	text-transform: lowercase;
	font-size: .8em;
	font-weight: 300;
	letter-spacing: 0;
	/* centering trick*/
	left: 50%;
	transform: translateX(-50%);
}

main {
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: transparent;
	transition: background-color 2s;
}

.subpage main {
	visibility: visible;
	background-color: rgba(255, 255, 255, 0.9);
}

article {
	display: none;
	padding: 0 .5em 5em;
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 25vh);
	overflow-x: hidden;
}

article.open {
	display: block;
}

article header h1 {
	padding: 0;
}

article figure img {
	max-width: 100%;
	object-fit: cover;
}


/* why and how */

strong {
	display: block;
}

.values figcaption,
.howto figcaption,
.staff figcaption {
	text-align: center;
	font-weight: 500;
}

.howto figure img {
	display: block;
	margin: 0 auto;
}


/* products page */

#products>p {
	margin-top: 0;
	padding-top: 0;
}

#products>p em {
	background-color: #594129;
	color: white;
	font-size: .9em;
	border-radius: .2em;
	font-style: normal;
	padding: 0 .3em .1em;
	text-transform: uppercase;
}

#products section,
.values,
.howto {
	display: flex;
	flex-wrap: wrap;
}

#products section h1 {
	width: calc(100% - 1em);
	margin-bottom: 0;
	font-size: 1.5rem;
}

#products figcaption,
#products>p {
	font-weight: 500;
	font-size: .8em;
}

#products figcaption span,
#products>p span {
	float: right;
	margin-left: .5em;
	font-weight: 300;
}


/* membership offer */

#products section:last-of-type {
	margin-top: 2em;
	display: block;
	text-align: center;
}

#products section:last-of-type img {}

#products section:last-of-type h1 {
	margin: 0 auto;
}

#products section:last-of-type p {
	margin: 0 auto;
}


/* visit us */

section>img {
	padding: 0 .5em;
}


/*our journey*/

.staff {
	margin: 2em auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.staff figure {
	text-align: center;
}

.staff figcaption span {
	font-weight: 300;
	display: block;
}

.staff h2 {
	font-size: 1rem;
	padding: 0 .5em;
	margin-bottom: 0;
}

.staff p {
	margin-top: 0;
}


/* visit us*/

.map {
	position: relative;
	display: block;
	padding: .5em;
}

.map img {
	display: block;
	transition: opacity 1s;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.map span {
	display: block;
	position: absolute;
	top: 1em;
	right: 1em;
	/*typography*/
	font-weight: 500;
	text-transform: uppercase;
	transition: opacity 1s;
	opacity: 0;
}

.map:hover img {
	opacity: .5;
}

.map:hover span {
	opacity: 1;
}


/*closing button */

#close {
	/*positioning*/
	z-index: 20;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	/*styling*/
	background-color: rgba(0, 0, 0, .8);
	width: 3em;
	height: 3em;
	padding: .3em;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	/*hide*/
	bottom: -4em;
	transition: bottom .3s;
}

.subpage #close {
	bottom: 1em;
}