.social {
	justify-content: flex-end;
	align-items: flex-start;
}

nav a,
article header {
	flex-direction: column;
	/*define the height by width*/
	height: calc(150vw - 1.5em);
}

nav a {
	opacity: .7;
	transition: opacity .5s ease-in;
}

nav a:hover {
	opacity: 1;
}


/* two of the menu-items upside-down*/

nav a:nth-of-type(even),
#products>header,
#visitus>header {
	flex-direction: column-reverse;
}


/*prepare for animation with absolute positioning */

article header {
	position: relative;
}

article header h1,
article header img,
.clicked div,
.clicked img {
	position: absolute;
}

article header h1,
.clicked div {
	/*border fix*/
	border: 1rem solid white;
	margin: -.5rem;
}

#ourstore header img,
nav a:nth-of-type(1) img {
	top: 0;
	left: 0;
}

#ourstore header h1,
nav a:nth-of-type(1) div {
	bottom: 0;
}

#products header img,
nav a:nth-of-type(2) img {
	bottom: 0;
	left: 0;
}

#products header h1,
nav a:nth-of-type(2) div {
	top: 0;
	right: 0;
}

#ourjourney header img,
nav a:nth-of-type(3) img {
	top: 0;
	right: 0;
}

#ourjourney header h1,
nav a:nth-of-type(3) div {
	bottom: 0;
	left: 0;
}

#visitus header img,
nav a:nth-of-type(4) img {
	right: 0;
}

#visitus header h1,
nav a:nth-of-type(4) div {
	top: 0;
	right: 0;
}


/* animation */

article header h1,
.clicked div {
	animation-name: h1;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

article header img,
.clicked img {
	animation-name: img;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

nav a:nth-of-type(4).clicked img,
#visitus header img {
	animation-name: visitus;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}


/*why and how */


/*products*/

#products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#products section:last-of-type {
	width: 100%;
}
